body {
    margin: 0;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
body a,
.agile_form input[type="submit"] {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    margin: 0;
    line-height: 1.8;
    font-size: 1em;
    color: #000;
}
ul,label {
    margin: 0;
    padding: 0;
}
body a:hover,body a:focus {
    text-decoration: none;
    outline: none;
}
/* Menu */
nav {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    right: -220px;
    top: 0;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 220px;
    z-index: 9001;
    /* IT'S OVER 9000! */
    padding-top: 4em;
}
#menuToggle {
    display: block;
    position: fixed;
    height: 40px;
    right: 15%;
    top: 33px;
    width: 46px;
    z-index: 9999;
}
#menuToggle span {
    background: #7690a1;
    display: block;
    height: 10%;
    left: 20%;
    position: absolute;
    top: 45%;
    width: 60%;
}
#menuToggle span:before,#menuToggle span:after {
    background: #7690a1;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -250%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
}
#menuToggle span:after {
    top: 250%;
}
nav a {
    color: #fff;
    display: block;
    font-size: 1.3em;
    margin: 30px 0 30px 30px;
    font-weight: 300;
    letter-spacing: 1px;
}
nav a:after {
    background: #7ecaf6;
    content: '';
    display: block;
    height: 2px;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 0;
    margin-top: 0.2em;
}
nav a:hover:after {
    width: 100%;
}
.menu nav a:hover,.menu nav a:focus {
    color: #cfdce5;
}
.open nav {
    right: 0;
}
.open #menuToggle span {
    background: transparent;
    left: 20%;
    top: 45%;
}
.open #menuToggle span:before,.open #menuToggle span:after {
    background: white;
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open #menuToggle span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#menuToggle .navClosed {
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    transition: background 0.1s linear;
}

#menuToggle .navClosed:before,#menuToggle .navClosed:after {
    -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
    -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transition-delay: 0.1s, 0.1s;
    transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}
#menuToggle .navOpen {
    -moz-transition: background 0.1s linear 0.2s;
    -o-transition: background 0.1s linear 0.2s;
    -webkit-transition: background 0.1s linear;
    -webkit-transition-delay: 0.2s;
    transition: background 0.1s linear 0.2s;
}
#menuToggle .navOpen:before,#menuToggle .navOpen:after {
    -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
    -o-transition: top 0.2s linear, -o-transform 0.2s linear;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    transition: top 0.2s linear, transform 0.2s linear;
}
/*-- //Menu --*/
.w3ls-section {
    padding: 5em 0;
}
/* about */
h3.section-title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
    color: #1853a1;
    text-align: center;
}
a.wthree-.about-link {
    color: #fff;
    border: 1px solid #03afdd;
    background: #03afdd;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}
.about-grid p {
    width: 80%;
    margin: 0 auto;
}
.about-grid1 {
    background: #7bd0c1;
}
.about-grid2 {
    background: #f2849e;
}
.about-grid3 {
    background: #7ecaf6;
}
.about-btm {
    padding-bottom: 4em;
}
.ab1 {
    padding: 2em;
}
.ab1 span {
    color: #fff;
    font-size: 2em;
}
h4.about-head {
    color: #005da2;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.7em 0;
    font-size: 1.8em;
}
.ab1 h5 {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1em 0 0.2em;
}
.ab1 p {
    color: #fff;
}
/* //about */
/* skills */
.service-left h3 {
    text-align: left;
    color: #fff;
}
.skills-right {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
div#skills {
    background: url(../images/bg1.jpg) fixed;
    background-size: cover;
}
.skill-grids {
    margin: 3em 0;
}
.skills h4 {
    font-size: 1.8em;
    color: #4378ff;
    letter-spacing: 2px;
    margin-bottom: 0.8em;
}
.skills-w3lsleft ul li {
    display: block;
    font-size: 1em;
    color: #999;
    margin-top: 1em;
}
.skills-w3lsleft ul li i.fa {
    font-size: 1.2em;
    margin-right: 0.5em;
}
.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}
.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.88);
}
.vertical-skills {
    margin-top: 85px;
    text-align: center;
}
.vertical-skills li {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 200px;
    margin: 0 10px;
}
.vertical-skills li:before {
    content: '';
    background: #03afdd;
    display: block;
    top: -53px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}
.vertical-skills li:after {
    content: '';
    background: #9a9a9a;
    display: block;
    top: -43px;
    left: 24px;
    width: 1px;
    height: 93px;
    position: absolute;
}
@media (max-width: 400px) {
    .vertical-skills li {
        width: 25px;
    }
}
.vertical-skills li span.skill {
    position: absolute;
    animation-duration: 5s;
    animation-name: height;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}
.vertical-skills li div.skill {
    position: absolute;
    animation-duration: 5s;
    animation-name: height;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 2;
}
.vertical-skills li span.title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -85px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
}
span.value {
    transform: rotate(-90deg);
    display: inline-block;
    margin: 6em 0;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1em;
}
/* //skills */
/*-- gallery --*/
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
    color: #ffffff;
    cursor:pointer;
    background: #03afdd;
    border: solid 2px #03afdd;
}
.nav-tabs>li>a {
    margin-right: 3px;
    font-size: 1em;
    color: #212121;
    border: solid 2px #03afdd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: .5em 1em;
    text-transform: capitalize;
}
.nav-tabs>li>a:focus {
    background: transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 0 auto 3em;
    width: 40%;
    text-align: center;
}
.nav-tabs>li {
    margin: 0 10px 0 0;
}
.nav-tabs>li>a:hover {
    color: #FFFFFF;
    background: #03afdd;
    border: solid 2px #03afdd;
}
.w3_tab_img_left {
    padding: 0;
}
.agile-gallery-info {
    padding: 1em;
    background: #ffffff;
}
.agile-gallery-info h5 {
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info {
    background: #03afdd;
    color: #FFFFFF;
}
.w3_tab_img_left:hover .agile-gallery-info p {
    color: #FFFFFF;
}
/*-- //gallery --*/
/*-- Contact --*/

/*-- //contact --*/
/* -- Responsive code -- */
@media screen and (max-width: 1080px){
    .nav-tabs {
        width: 48%;
    }
    .services-grid.agileits-w3layouts {
        margin-top: 7em;
    }
}
@media screen and (max-width: 1050px){}
@media screen and (max-width: 1024px){
    .agile_form input[type=text],.agile_form textarea,.agile_form input[type="email"] {
        padding: 0.6em 1em;
    }
    .agileits-main-right label {
        margin: 0.5em 0 0.7em;
    }
    .img-agileits:after {
        right: -35px;
    }
    .services-grid.agileits-w3layouts.service3 {
        padding-left: 1em;
    }
    .services-grid.agileits-w3layouts.service2 {
        padding-right: 2em;
    }
    .img-agileits:before {
        left: -3px;
    }
}
@media screen and (max-width: 991px){
    .about-grid p {
        width: 100%;
    }
    .skills-right {
        margin: 3em 0;
        float: left;
        width: 54%;
    }
    div#skills {
        padding: 4em 0 1em;
    }
    .nav-tabs {
        width: 62%;
    }
    .services-w3ls-row.agileits-w3layouts.service1,.services- w3ls-row.agileits-w3layouts.service4,.services-grid.agileits-w3layouts.service2{
        margin: 0 1em;
        width: 46%;
        float: left;
       text-align: left;
       padding: 0;
    }
    .services-w3ls-row.agileits-w3layouts.service1:before,.img-agileits:before,.img-agileits:after,.services-w3ls-row.agileits-w3layouts.service4:before{
        display: none;
    }
    .w3ls-sub-text {
        padding-left: 0;
    }
    .sub-icon{
        padding: 0;
        margin: 1em 0;
    }
    .services-grid.agileits-w3layouts{
        margin: 0;
    }
    .sub-icon {
        margin-top: 1em;
    }
    .services-grid.agileits-w3layouts.service3,.services-w3ls-row.agileits-w3layouts.service4 {
        float: none;
        width: 100%;
        margin: 2em 0;
        text-align:left;
        padding: 0;
    }
    .services-grid img{
        width:40%;
    }
    .services-grid.img-agileits {
        clear: both;
    }
}
@media screen and (max-width: 900px){
    h3.section-title{
        margin-bottom: 1.2em;
        font-size: 2.3em;
    }
    .w3ls-section {
        padding: 4em 0;
    }
}
@media screen and (max-width: 800px){
    .agile-gallery-info h5{
        letter-spacing: 3px;
    }
}
@media screen and (max-width: 768px){
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2{
        padding: 1em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4{
        padding:0 2em;
    }
}
@media screen and (min-width: 737px){
    .w3-flex{
        display: flex;
    }
    .ab1 {
        flex:1;
    }
}
@media screen and (max-width: 736px){
    .about-grid p {
        width: 96%;
    }
    .ab1 {
        float: none;
    }
    .skills-right {
        width: 58%;
    }
    .nav-tabs {
        width: 66%;
    }
    .vertical-skills li {
        width: 44px;
    }
    .w3_tab_img_left {
        width: 50%;
        float: left;
    }
    .services-grid img {
        width: 50%;
    }
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
       width: 45%;
    }
    h3.section-title {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 667px){
    .contact-grid-agileinfo {
        padding: 2em;
    }
    .nav-tabs {
        width: 72%;
    }
}
@media screen and (max-width: 640px){
    h2.w3ls-bnrtext {
        font-size: 3.1em;
    }
    .skills-right {
        width: 62%;
    }
    .nav-tabs {
        width: 76%;
    }
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        width: 84%;
    }
    .sub-icon span, .s-top span {
        font-size: 3.5em;
    }
    .agile_form input[type="submit"] {
        width: 23%;
        font-size: 1.1em;
    }
}
@media screen and (max-width: 600px){
    .about-grid p {
        width: 92%;
    }
    .skills-right {
        width: 66%;
    }
    .vertical-skills li {
        width: 40px;
    }
    .nav-tabs {
        width: 82%;
    }
    
}
@media screen and (max-width: 568px){
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        width: 96%;
    }
    .nav-tabs {
        width: 86%;
    }
    .services-grid img {
        padding: 1em;
    }
}
@media screen and (max-width: 480px){
    p.w3ls-p {
        font-size: 1.1em;
    }
    .skills-right {
        width: 78%;
    }
    .nav-tabs>li {
        margin: 0 3px 0 0;
    }
    .nav-tabs {
        width: 97%;
    }
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        padding: 1em 1em 0.5em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4 {
       margin: 1em 0;
    }
    .vertical-skills li span.title {
        left: 9px;
    }
}
@media screen and (max-width: 414px){
    .about-grid p {
        width: 98%;
    }
    .skills-right {
        width: 86%;
    }
    .vertical-skills li {
        width: 35px;
    }
    .nav-tabs>li>a{
        padding:.5em 0.7em;
        font-size: 0.92em;
    }
    .contact-grid-agileinfo {
        padding: 1.5em 0.6em;
    }
    ul.w3-links li {
        margin: 0 0.4em;
    }
    .agileits-main-right {
        padding: 3em 2em;
    }
    h3.section-title {
        font-size: 2em;
    }
    .services-grid img {
        width: 56%;
    }
    .agile_form input[type="submit"] {
        width: 26%;
        font-size: 1em;
    }
    .footer {
        padding: 2em 1em;
    }

}
@media screen and (max-width: 384px){
    .skills-right {
        padding: 0;
    }
    .nav-tabs>li {
        margin: 8px 0;
        float: none;
    }
    .nav-tabs {
        margin: 0 auto 2em;
    }
    .w3ls-section {
        padding: 3em 0;
    }
    .services-grid img {
        width: 70%;
    }
    .contact-icon-wthree {
        float: none;
        margin-bottom: 15px;
        width: 100%;
    }
     .contact-text-agileinfo {
        width: 100%;
        float: none;
    }
    .contact-grid-agileinfo {
        padding: 1em 0 1.8em;
    }
    .pull-right{
        float: none !important;
    }
    h3.section-title.cont-w3l {
        text-transform: capitalize;
    }
    a.wthree-.about-link{
        padding: 0.5em 1.5em;
    }
}
@media screen and (max-width: 375px){
    h3.section-title {
        margin-bottom: 0.8em;
    }
    .wthree-.about-link {
        padding: 0.5em 1.8em;
        letter-spacing: 2px;
    }
    h4.about-head {
        font-size: 1.7em;
    }
    .vertical-skills li {
        width: 32px;
    }
    .vertical-skills li:after {
         left: 18px;
    }
    .vertical-skills li:before {
         left: 14px;
    }
    .w3_tab_img_left {
        width: 100%;
    }
    .agileits-main-right {
        padding: 3em 1.5em;
    }
    .footer {
        padding: 1em 0;
    }
}
@media screen and (max-width: 320px){
    .w3ls-section {
        padding: 2.7em 0;
    }
    h3.section-title {
        font-size: 1.9em;
    }
    a.wthree-.about-link{
        padding: 0.5em 1.2em;
        letter-spacing: 2px;
    }
    .vertical-skills li {
       margin: 0 6px;
    }
    .footer {
        padding: 1em 0.8em;
    }
    .vertical-skills li {
        margin: 0 2px;
    }
    .services-w3ls-row.agileits-w3layouts.service1, .services- w3ls-row.agileits-w3layouts.service4, .services-grid.agileits-w3layouts.service2 {
        padding: 1em 0em 0.5em;
    }
    .services-grid.agileits-w3layouts.service3, .services-w3ls-row.agileits-w3layouts.service4 {
        padding: 0 1em;
    }
    #menuToggle {
         right: 7%;
    }
}
/* -- //Responsive code -- */
/*-- banner-text --*/ 
.banner-text {
    padding:14em 0;
    text-align: left;
}
.banner-info {
    margin: 0 auto;
    display: inline-block;
    padding: 3.5em;
    background: rgba(0, 0, 0, 0.55);
}
.banner-text h2 {
    font-size: 6em;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    position: relative;
    letter-spacing: 3px;
    line-height: 1.2em;
    border: 1px solid #fff;
}
.banner-text h2 span {
    font-size: .2em;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 5px;
    position: absolute;
    top: -17%;
    right: 7%;
    font-family: 'Playfair Display', serif;
} 
.banner-text h2:first-letter {
    font-size: 2em;
    color: #fff;
    margin-right: -20px;
} 
.banner-text p {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    line-height: 2em;
    margin: 1em 0 0;
    font-weight: 300;
    letter-spacing: 4px;
}
/*-- //banner --*/  